.logo{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 80px;
}
h1{
    margin: auto;
    text-align: center;
}
h2{
    color: red;
}
body{
    background-color: lightgray;
}
.hot{
    display: inline;
    color: red;
}
.nav{
    display: inline;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.box{
    margin: 100px;
}
.li{
    margin: 50px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.img{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 80px;
}
.games{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    overflow: scroll;
}
.game img{
   width: 100%;

}
.alex{
    position: absolute;
    left: 65px;
    top: 110px;
}
.among{
    width: 50%;
}
      