img{
    position: fixed;
    right: 5px;
    top: 5px;
    width: 80px;
}
h1{
    margin: auto;
    text-align: center;
}
h2{
    color: red;
}
body{
    background-color: lightgray;
}
.hot{
    display: inline;
    color: red;
}
.nav{
    display: inline;
}
.nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.box{
    margin: 100px;
}
.li{
    margin: 50px;
}
.grid{
    display: grid;
    grid-template-areas: 
    "sidebar main"
    "footer footer";
    grid-template-columns: 1fr 2fr;
}

nav{
    grid-area: nav;
}
aside{
    grid-area: sidebar;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.img{
    position: fixed;
    left: 3px;
    top: 3px;
    width: 80px;
}
      