img{
    position: fixed;
    right: 5px;
    top: 5px;
    width: 80px;
}
h1{
    text-align: center;
}
h2{
    color: red;
}
body{
    background-color: grey;
}
.hot{
    display: inline;
    color: red;
}
ul li{
    display: inline;
}
ul{
    display: inline;
}